PROJECT_NAME=Users API
ENVIRONMENT=dev

DB_USER=users_api
DB_PASS=users_api
DB_HOST=localhost
DB_PORT=5433
DB_NAME=users

JWT_SECRET_KEY=your-secret-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

VERIFICATION_CODE_EXPIRE_HOURS=24
UNVERIFIED_USER_TTL_DAYS=2

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_USE_TLS=true
EMAIL_FROM=your-email@gmail.com